@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
/* header section style  */
header{
    width: 1440px;
    height: 677px;
    background-color:darkviolet;
   
    padding-bottom: 200px;
    margin-bottom: 70px;

}
header:hover button{
    background-color: darkturquoise;
    transform: scale(1.5);
}
header:hover .head-img img{
    transform:translate(-100px)
}
.head{
    display: flex;
    padding-right: 160px;
    padding-top: 180px;
    padding-left: 140px;
    
    
}
.title-font{
    font-size: 64px;
    font-weight: 700;
    color:#FFFFFF;
    width: 485px;
    margin-bottom: 0;
    margin-right: 90px;
}
button{
    height: 44px;
    width: 168px;
    margin-top: 11px;
    color:#FFFFFF;
    background-color:#E02C6D;
    transition: transform 5s linear;
}
.head-img img{
    width: 656px;
    height: 438px;
    transition: transform 5s ease-in-out;
   
}


/* main section*/
/* top players section style  */
.player-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    width: 1050px;
    margin-left: 150px;
    margin-right: 190px;
  
}
.players{
    background-color: #FFFFFF;
    width: 330px;
    height: 474px;
    padding-bottom: 33px;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
width: 300px;
height: 256px;
padding-left: 15px;
padding-top: 15px;

}
.player-details{
    height: 154px;
    width: 300px;
    padding-left: 15px;
    font-weight: 400;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
}
/* top player sectionmstyle end  */
/* bonus section style 1 */
/* form section  */
.form{
    height: 500px;
    width: 950px;
    margin-top: 70px;
    margin-left: 210px;
    margin-right: 210px;
    
}
.form p{
    background-color:slategray;
    color: white;
}
/* bonus section style 2 */
.transformm{
    background-color: darkviolet;
    height: 500px;
    width: 950px;
    margin-top: 70px;
    margin-left: 210px;
    margin-right: 210px;
    
}
.transformm h6{
    font-size: 30px;
    text-align: center;
}

.football-image img{
    height: 256px;
    width: 300px;
    position: relative;
    margin-top: 30px;
   transition: transform 2s linear ;

}
.transformm:hover .football-image img{
   
    transform: translate(680px) rotate(180deg) ;
}
/* footer section style  */
footer{
    width: 1440px;
    height: 677px;
    margin-top: 150px;
}
.footer-part{
    display: flex;
    flex-direction: column;
    height: 213px;
    width: 483px;
    text-align: center;
    margin-right: 470px;
    margin-left: 481px;
   
}
.football img{
    height: 110px;
    width: 483px;
}
.logos{
    width: 483px;
    height: 32px;
    color: gray;
    font-size: 32px;
}
.copyright{
font-size: 18px   
}
/* media query  */
@media only screen and (max-width:688px){
header{
        height: 600px;
        width: 360px;
       
    }
    .head{
        display:block;
        margin-left: 0;
        margin-right:0;
        padding: 50px;
    }
    .title-font{
        font-size: 35px;
        width: 200px;
    }
    .head-img img{
        margin-right: 1000px;
        margin-top: 100px;
        height: 259px;
        width:329px;
        
    }
    .player-box{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
       
    }
    .players{
        justify-content:center;
       
    }
    .form{
        margin-left: 0;
        width: 320px;
    }
   
    .transformm{
        margin: 0;
        width: 320px;
    }
    .footer-part{
       width: 200px;
       margin-left: 60px;
       justify-content: left;
    }
    footer{
        width: 360px;
        position: relative;
    }
    .football img{
        width: 200px;
        height: 50px;
    }
    .logos{
        text-align: left;
        margin-left: 20px;
    }

}



